.guideline-container{
    background-color:var(--color-surface2);
    z-index: 999 !important;
}

.guideline-text{
    color:var(--color-on-surface2);
}
.guideline-ita-btn{
    position:relative;
    padding: 0;
    cursor:pointer;
    color:white;
    background: darkcyan;
    padding:5px 12px;
    border-radius: 50%;
    border: none;
    margin-bottom: 10px;
    overflow: hidden;
    z-index:0;
    transition: .2s linear;
    /* border: 1px solid darkcyan; */
}

.guideline-ita-btn::before{
    content:'';
    background:rgba(0, 0, 0, 0.808);
    height: 30px;
    width: 30px;
    position:absolute;
    border-radius: 50%;
    top: 100%;
    left: 0px;
    z-index: -1;
    transition: .2s linear;
}

.guideline-ita-btn:hover::before{
    top: 0;
}
.guideline-ita-btn:hover{
    background: transparent;
}

.guideline-body p,a{
    font-size:0.9rem !important;
}
.guideline-body{
    padding-top: 0rem;
    margin-top: 0;
}

.guideline-close-btn{
    border-radius: 20px;
    border: 2px solid darkcyan;
    color: white;
    background-color: rgba(0, 0, 0, 0.495);
}

.message-container{
    /* background-color: red; */
    width: 500px;
    display: flex;
    flex-direction: column;
}

.Agentsetting-container{
    display: flex;
    gap: 30px;
}

.dropdown-container textarea{
    font-size: 13px !important;
}

.dropdown-container input{
    font-size: 13px !important;
    max-width: 400px;
    padding: 0 20px;
}

.calltransfer-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.calltransfer-form h3{
    margin:0;
    padding: 0;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
}

.custom-url-container{
display: flex;
flex-direction: column;
gap: 15px;
}

.custom-url{
display: flex;
flex-direction: column;
gap: 3px;
}

.custom-url input{
height: 37px;
font-size: 12px;
border: none;
}

.dropdown-menu h4{
margin: 0;
padding: 0;
font-weight: 400;
font-size: 13px;
}

.message-form h3{
    margin: 0;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
}

.general-tools h3{
    font-size: 14px;
    font-weight: 500;
    margin:0;
    margin-top: 10px;
}

.general-tools p{
    font-size: 12px !important;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.form-group input{
    height: 40px;
    border: none;
}





